@mixin sublist-hover {
    opacity: 1;
    top: 100%;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin slidedown {

    animation: slide-down 1s 0.8s both;

    @keyframes slide-down {
        0% {

            transform: translateY(-100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }

    }
}

@mixin slideup {

    animation: slide-up 1s 0.8s both;

    @keyframes slide-up {
        0% {

            transform: translateY(100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }

    }
}




@mixin slide-left30 {

    animation: slideleft-30 1s  both;

    @keyframes slideleft-30 {
        0% {

            transform: translatex(30px);
            opacity: 0;
        }

        100% {
            transform: translatex(0);
            opacity: 1;
        }

    }
}



@mixin slide-right30 {

    animation: slide-right 1s  both;

    @keyframes slide-right {
        0% {

            transform: translatex(-30px);
            opacity: 0;
        }

        100% {
            transform: translatex(0);
            opacity: 1;
        }

    }
}