.what-client-says{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;

    &__desc{
        padding-left: 2rem ;
        &__text{
            padding-top: 10rem;
            line-height: 2;
        }
    }
}